body {
    background-color: #000000; /* Black background */
    color: #F5F5F5; /* Off-white text color */
    font-family: "MS Gothic", sans-serif; /* MS Gothic font */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
  .top-center {
    text-align: center; /* Center text horizontally */
    margin-top: 20px; /* Optional: Add margin to create space from the top */
  }
  hr {
    width: 100%; /* Adjust the width of the bar */
    border: none;
    height: 2px;
    background-color: #FFFFFF; /* Color of the bar */
    margin-bottom: 20px; /* Space between the bar and the next content */
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Ensure this section takes up remaining space */
  }
  .center div {
    text-align: center; /* Center text horizontally */
  }